.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: rgb(0, 0, 0);
}
#homeHeader {
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: left;
    text-decoration: none;
}
#twitchList {
    list-style: none;
    padding-left: 0;
}
.tile {
    height: 80%;
    width: 75%;
    position: absolute;
    left: 50%;
    top: 30%; 
    margin-left: -37.5%;
    margin-top: -40%;
}
.tile #moonlightHeader{
    transition-duration: 0.4s;
    color: white;
    font-family: 'Italianno';
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0;
}
.tile h3 {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.tile p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.tile a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    color: white;
    margin-bottom: 5px;
    display: list-item;
    text-align: center;
    border-radius: 15px;
    list-style-type: none;
    text-decoration: none;
    border: 2px solid white;
}
.tile a:visited{
    text-decoration: none;
}
.tile a:hover{
    text-decoration: none;
    background-color: white;
    color: rgb(0, 0, 0);
}
.tile a:active{
    text-decoration: none;
}
#twitchList li a{
    text-align: left;
    display: table;
    padding: 5px;
    border-radius: 10px;
}
#otherLinksButton {
    display: none;
}

@media only screen and (min-width: 600px) {
    .tile {
        height: 700px;
        width: 500px;
        left: 50%;
        top: 50%; 
        margin-left: -250px;
        margin-top: -350px;
    }
    .tile a {
        font-size: 16px;
        text-align:right;
        margin: 0;
        padding: 0 0 5px 0;
        border: none;
        border-radius: 0px;
        text-decoration: none;
        font-size: 20px;
    }
    .tile p {
        font-size: 14px;
    }
    .tile h2 {
        font-size: x-large;
        text-decoration: none;
    }
    #twitchList li a{
        text-align: left;
        padding: 0px;
        display: inline;
        border: none;
        border-radius: 0px;
        text-decoration: none;
        font-size: 17px;
    }
    #twitchList p {
        font-size: 17px;
        display: inline;
    }
    #otherLinksButton {
        display: block;
        background-color:rgba(0, 0, 0, 0);
        color: white;
        font-size: 16px;
        text-align:left;
        margin: 0;
        padding: 0 0 5px 0;
        border: none;
        border-radius: 0px;
        text-decoration: none;
        font-size: 20px;
    }
    #otherLinksButton:hover{
        text-decoration: none;
        background-color: white;
        color: rgb(0, 0, 0);
    }
    .tile .otherLinksDiv a {
        background-color:rgba(0, 0, 0, 0);
        color: white;
        font-size: 16px;
        text-align:left;
        margin: 0;
        padding: 0 0 5px 0;
        border: none;
        border-radius: 0px;
        text-decoration: none;
        font-size: 20px;
    }
    .tile .otherLinksDiv a:hover{
        text-decoration: none;
        background-color: white;
        color: rgb(0, 0, 0);
    }
}